.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
.cards_item {
    width: 50%;
}
.adicionar-carrinho {
    width: 50%;
}
.quantidade {
    width: 50%;
}
}

@media (min-width: 66rem) {
.cards_item {
    width: 33%;
}
.quantidade {
    width: 30%;
}
}

@media (min-width: 88rem) {
    .cards_item {
        width: 25%;
    }
    .adicionar-carrinho {
        width: 70%;
    }
    .quantidade {
        width: 30%;
    }
    }

    .card_imagem {
        cursor: zoom-in;
    }

.card_produto {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_produto_conteudo {
    padding: 1rem;
    background: white;
}

.card_produto_nome {
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_produto_preco {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}

.quantidade {
    float: left;
    width: 40%;
    user-select: none;
}

.input_qtd-produto {
    width: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 50px;
    text-align: center;
}

.btn_alterar_qtd_produto {
    width: 30px;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 20px;
    height: 25px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    float: left;
}

.alterar_qtd_produto {
    width: 10px;
    height: 50px;
    display: inline-block;
    position: absolute
}


.adicionar-carrinho {
    cursor: pointer;
    width: 60%;
    border: none;
    color: #000;
    background: #fff;
    height: 50px;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    transition: all 0.2s;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #fff;
    float: right;
}

.adicionado {
    background-color: rgb(156, 0, 0);
    color: #fff;
    cursor: not-allowed;
}

.adicionar-carrinho:active, .adicionar-carrinho:focus {
    outline: none;
}

.adicionar-carrinho:hover { 
    box-shadow: 0 1px 2px #cbc3ba;
}